.login-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #4b6cb7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-repeat: no-repeat;
}
.login-form{
    max-width: 350px;
    min-width: 300px;
    padding: 30px;
    background-color: #182848;
}
.form-container > * {
    width: 100%;
}
.header-login{
    display: flex;
    padding: 15px;
    align-items: center;
    justify-content: space-between;
}
.header-login img{
    max-width: 150px;
}